ul {
	list-style: none;
	text-align: left;

	li {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 0.5rem;

		ul {
			margin-left: 1rem;

			li {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 0.2rem;

				span {
					margin-left: 0.5rem;
					font-size: 0.8rem;
				}
			}
		}
	}
}
